<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354960529461-5ngbbki66ae82p6l5g4l9lu2imndoe5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354960529461-5ngbbki66ae82p6l5g4l9lu2imndoe5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBagMUNu2wAoSl_69f_mmLYC1OlFPAn9-c</string>
	<key>GCM_SENDER_ID</key>
	<string>354960529461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razvangeangu.resume</string>
	<key>PROJECT_ID</key>
	<string>resume-billie</string>
	<key>STORAGE_BUCKET</key>
	<string>resume-billie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354960529461:ios:64da02bf3619cd85b9b97c</string>
	<key>DATABASE_URL</key>
	<string>https://resume-billie.firebaseio.com</string>
</dict>
</plist>
